.main {
  display: flex;
  flex-direction: column;

  &__cards {
    padding: 15px 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(
      auto-fit,
      minmax(150px, 1fr)
    ); 
    gap: 10px;
  }
}
